
.metadata/.lock
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-northeast-1.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-northeast-2.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-south-1.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-southeast-1.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ap-southeast-2.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/ca.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/cn.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-central-1.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-west-1.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-west-2.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/eu-west-3.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/sa-east-1.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/flags/us.png
.metadata/.plugins/com.amazonaws.eclipse.core/regions/regions.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/eventsapp/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/eventsapp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/eventsapp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/eventsapp/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/gs-testing-web/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/gs-testing-web/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/gs-testing-web/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/gs-testing-web/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/gs-testing-web/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/rest-service-consumer/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/rest-service-consumer/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/rest-service-consumer/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/rest-service-consumer/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/rest-service-provider/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/rest-service-provider/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/rest-service-provider/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/rest-service-provider/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.jdt.core/1012403550.index
.metadata/.plugins/org.eclipse.jdt.core/1052994004.index
.metadata/.plugins/org.eclipse.jdt.core/1085521548.index
.metadata/.plugins/org.eclipse.jdt.core/1086624417.index
.metadata/.plugins/org.eclipse.jdt.core/1191129903.index
.metadata/.plugins/org.eclipse.jdt.core/1191417829.index
.metadata/.plugins/org.eclipse.jdt.core/1234856377.index
.metadata/.plugins/org.eclipse.jdt.core/1306313693.index
.metadata/.plugins/org.eclipse.jdt.core/132124784.index
.metadata/.plugins/org.eclipse.jdt.core/1325932060.index
.metadata/.plugins/org.eclipse.jdt.core/1394373978.index
.metadata/.plugins/org.eclipse.jdt.core/1410574675.index
.metadata/.plugins/org.eclipse.jdt.core/1448781706.index
.metadata/.plugins/org.eclipse.jdt.core/1461417064.index
.metadata/.plugins/org.eclipse.jdt.core/1471995055.index
.metadata/.plugins/org.eclipse.jdt.core/1507732845.index
.metadata/.plugins/org.eclipse.jdt.core/151476299.index
.metadata/.plugins/org.eclipse.jdt.core/1552027300.index
.metadata/.plugins/org.eclipse.jdt.core/1593297550.index
.metadata/.plugins/org.eclipse.jdt.core/1607633433.index
.metadata/.plugins/org.eclipse.jdt.core/1634587059.index
.metadata/.plugins/org.eclipse.jdt.core/1650035906.index
.metadata/.plugins/org.eclipse.jdt.core/1707533339.index
.metadata/.plugins/org.eclipse.jdt.core/1747418822.index
.metadata/.plugins/org.eclipse.jdt.core/1774397753.index
.metadata/.plugins/org.eclipse.jdt.core/1789924702.index
.metadata/.plugins/org.eclipse.jdt.core/1874335263.index
.metadata/.plugins/org.eclipse.jdt.core/1929326304.index
.metadata/.plugins/org.eclipse.jdt.core/2020806649.index
.metadata/.plugins/org.eclipse.jdt.core/2023717091.index
.metadata/.plugins/org.eclipse.jdt.core/2032806143.index
.metadata/.plugins/org.eclipse.jdt.core/2063458388.index
.metadata/.plugins/org.eclipse.jdt.core/2158380766.index
.metadata/.plugins/org.eclipse.jdt.core/2194188219.index
.metadata/.plugins/org.eclipse.jdt.core/2197920484.index
.metadata/.plugins/org.eclipse.jdt.core/220151722.index
.metadata/.plugins/org.eclipse.jdt.core/2260503075.index
.metadata/.plugins/org.eclipse.jdt.core/228734941.index
.metadata/.plugins/org.eclipse.jdt.core/2293146111.index
.metadata/.plugins/org.eclipse.jdt.core/2333060006.index
.metadata/.plugins/org.eclipse.jdt.core/2334798200.index
.metadata/.plugins/org.eclipse.jdt.core/2404634967.index
.metadata/.plugins/org.eclipse.jdt.core/2440315077.index
.metadata/.plugins/org.eclipse.jdt.core/2448724526.index
.metadata/.plugins/org.eclipse.jdt.core/2461813183.index
.metadata/.plugins/org.eclipse.jdt.core/2476530828.index
.metadata/.plugins/org.eclipse.jdt.core/2498674564.index
.metadata/.plugins/org.eclipse.jdt.core/2527261288.index
.metadata/.plugins/org.eclipse.jdt.core/2550393766.index
.metadata/.plugins/org.eclipse.jdt.core/2565535022.index
.metadata/.plugins/org.eclipse.jdt.core/2582362370.index
.metadata/.plugins/org.eclipse.jdt.core/2587227113.index
.metadata/.plugins/org.eclipse.jdt.core/2590387053.index
.metadata/.plugins/org.eclipse.jdt.core/259125184.index
.metadata/.plugins/org.eclipse.jdt.core/2599177026.index
.metadata/.plugins/org.eclipse.jdt.core/2604586940.index
.metadata/.plugins/org.eclipse.jdt.core/2629743406.index
.metadata/.plugins/org.eclipse.jdt.core/2640182933.index
.metadata/.plugins/org.eclipse.jdt.core/2663807054.index
.metadata/.plugins/org.eclipse.jdt.core/2663952731.index
.metadata/.plugins/org.eclipse.jdt.core/267986687.index
.metadata/.plugins/org.eclipse.jdt.core/2681775707.index
.metadata/.plugins/org.eclipse.jdt.core/2702777724.index
.metadata/.plugins/org.eclipse.jdt.core/2707404919.index
.metadata/.plugins/org.eclipse.jdt.core/2725463777.index
.metadata/.plugins/org.eclipse.jdt.core/2735855004.index
.metadata/.plugins/org.eclipse.jdt.core/2737799558.index
.metadata/.plugins/org.eclipse.jdt.core/2745281445.index
.metadata/.plugins/org.eclipse.jdt.core/2748471129.index
.metadata/.plugins/org.eclipse.jdt.core/2765336411.index
.metadata/.plugins/org.eclipse.jdt.core/2814223288.index
.metadata/.plugins/org.eclipse.jdt.core/2869436054.index
.metadata/.plugins/org.eclipse.jdt.core/292407920.index
.metadata/.plugins/org.eclipse.jdt.core/2935884413.index
.metadata/.plugins/org.eclipse.jdt.core/2990254526.index
.metadata/.plugins/org.eclipse.jdt.core/2997664177.index
.metadata/.plugins/org.eclipse.jdt.core/3001851179.index
.metadata/.plugins/org.eclipse.jdt.core/3010284520.index
.metadata/.plugins/org.eclipse.jdt.core/3040475243.index
.metadata/.plugins/org.eclipse.jdt.core/3064352095.index
.metadata/.plugins/org.eclipse.jdt.core/3084859892.index
.metadata/.plugins/org.eclipse.jdt.core/3197343793.index
.metadata/.plugins/org.eclipse.jdt.core/3216932392.index
.metadata/.plugins/org.eclipse.jdt.core/3265301344.index
.metadata/.plugins/org.eclipse.jdt.core/3266209744.index
.metadata/.plugins/org.eclipse.jdt.core/3295748848.index
.metadata/.plugins/org.eclipse.jdt.core/3400052480.index
.metadata/.plugins/org.eclipse.jdt.core/3409091863.index
.metadata/.plugins/org.eclipse.jdt.core/3425597321.index
.metadata/.plugins/org.eclipse.jdt.core/3431416163.index
.metadata/.plugins/org.eclipse.jdt.core/3455366719.index
.metadata/.plugins/org.eclipse.jdt.core/3512830441.index
.metadata/.plugins/org.eclipse.jdt.core/3534112759.index
.metadata/.plugins/org.eclipse.jdt.core/3546697280.index
.metadata/.plugins/org.eclipse.jdt.core/3572451036.index
.metadata/.plugins/org.eclipse.jdt.core/3574840206.index
.metadata/.plugins/org.eclipse.jdt.core/3580202614.index
.metadata/.plugins/org.eclipse.jdt.core/3596409397.index
.metadata/.plugins/org.eclipse.jdt.core/3604749909.index
.metadata/.plugins/org.eclipse.jdt.core/3607538258.index
.metadata/.plugins/org.eclipse.jdt.core/3621503413.index
.metadata/.plugins/org.eclipse.jdt.core/3628927029.index
.metadata/.plugins/org.eclipse.jdt.core/3667707287.index
.metadata/.plugins/org.eclipse.jdt.core/3674497584.index
.metadata/.plugins/org.eclipse.jdt.core/3676561939.index
.metadata/.plugins/org.eclipse.jdt.core/3708489147.index
.metadata/.plugins/org.eclipse.jdt.core/3746028842.index
.metadata/.plugins/org.eclipse.jdt.core/3774346893.index
.metadata/.plugins/org.eclipse.jdt.core/3780244993.index
.metadata/.plugins/org.eclipse.jdt.core/3802384340.index
.metadata/.plugins/org.eclipse.jdt.core/3829397080.index
.metadata/.plugins/org.eclipse.jdt.core/3842884590.index
.metadata/.plugins/org.eclipse.jdt.core/3881385294.index
.metadata/.plugins/org.eclipse.jdt.core/3912361298.index
.metadata/.plugins/org.eclipse.jdt.core/3927960349.index
.metadata/.plugins/org.eclipse.jdt.core/3938220301.index
.metadata/.plugins/org.eclipse.jdt.core/394403887.index
.metadata/.plugins/org.eclipse.jdt.core/3956208408.index
.metadata/.plugins/org.eclipse.jdt.core/3976005740.index
.metadata/.plugins/org.eclipse.jdt.core/3991786862.index
.metadata/.plugins/org.eclipse.jdt.core/3995747860.index
.metadata/.plugins/org.eclipse.jdt.core/4008890131.index
.metadata/.plugins/org.eclipse.jdt.core/4077177124.index
.metadata/.plugins/org.eclipse.jdt.core/4089886682.index
.metadata/.plugins/org.eclipse.jdt.core/4100228060.index
.metadata/.plugins/org.eclipse.jdt.core/4102213001.index
.metadata/.plugins/org.eclipse.jdt.core/4107667891.index
.metadata/.plugins/org.eclipse.jdt.core/4119018277.index
.metadata/.plugins/org.eclipse.jdt.core/4172499565.index
.metadata/.plugins/org.eclipse.jdt.core/4200055327.index
.metadata/.plugins/org.eclipse.jdt.core/421958670.index
.metadata/.plugins/org.eclipse.jdt.core/4230465733.index
.metadata/.plugins/org.eclipse.jdt.core/4245100679.index
.metadata/.plugins/org.eclipse.jdt.core/4271976728.index
.metadata/.plugins/org.eclipse.jdt.core/4282523805.index
.metadata/.plugins/org.eclipse.jdt.core/455572686.index
.metadata/.plugins/org.eclipse.jdt.core/467026250.index
.metadata/.plugins/org.eclipse.jdt.core/469544258.index
.metadata/.plugins/org.eclipse.jdt.core/485330125.index
.metadata/.plugins/org.eclipse.jdt.core/541579598.index
.metadata/.plugins/org.eclipse.jdt.core/551387096.index
.metadata/.plugins/org.eclipse.jdt.core/569590909.index
.metadata/.plugins/org.eclipse.jdt.core/605319226.index
.metadata/.plugins/org.eclipse.jdt.core/605695488.index
.metadata/.plugins/org.eclipse.jdt.core/613194083.index
.metadata/.plugins/org.eclipse.jdt.core/633049847.index
.metadata/.plugins/org.eclipse.jdt.core/694885439.index
.metadata/.plugins/org.eclipse.jdt.core/712330588.index
.metadata/.plugins/org.eclipse.jdt.core/713022173.index
.metadata/.plugins/org.eclipse.jdt.core/754482360.index
.metadata/.plugins/org.eclipse.jdt.core/775190257.index
.metadata/.plugins/org.eclipse.jdt.core/775797718.index
.metadata/.plugins/org.eclipse.jdt.core/79916886.index
.metadata/.plugins/org.eclipse.jdt.core/814884786.index
.metadata/.plugins/org.eclipse.jdt.core/850018746.index
.metadata/.plugins/org.eclipse.jdt.core/860423826.index
.metadata/.plugins/org.eclipse.jdt.core/902222799.index
.metadata/.plugins/org.eclipse.jdt.core/902991078.index
.metadata/.plugins/org.eclipse.jdt.core/961891655.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.m2e.core/eventsapp.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/gs-testing-web.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_5.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_7
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/8bbe6bf346606ccb663b98b7ce4cc6f5/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/8bbe6bf346606ccb663b98b7ce4cc6f5/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/8bbe6bf346606ccb663b98b7ce4cc6f5/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/8bbe6bf346606ccb663b98b7ce4cc6f5/write.lock
.metadata/.plugins/org.eclipse.m2e.core/rest-service-consumer.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/rest-service-provider.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.jdt/eventsapp.container
.metadata/.plugins/org.eclipse.m2e.jdt/gs-testing-web.container
.metadata/.plugins/org.eclipse.m2e.jdt/rest-service-consumer.container
.metadata/.plugins/org.eclipse.m2e.jdt/rest-service-provider.container
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.infomentum110_8184/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.infomentum110_8184/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.infomentum110_8184/node.properties
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/version.ini
RemoteSystemsTempFiles/.project
